*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
div{
    background-image: url("siverbg.png");
    background-repeat: no-repeat;
    width: 437px;
    height: 500px;
    margin: 0 auto;
}
.input{
    width: 402px;
    height: 51px;
    margin-left: 14px;
    margin-top: 16px;
    text-align: right;
    border-color: white;
    font-size: 40px;
    line-height: 51px;
}
table{
    width: 437px;
    height: 300px;
    margin-top: 45px;
}
td{
    display: inline-block;
    width: 94px;
    height: 44px;
    background-repeat:no-repeat;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    line-height: 44px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.td1{
    background-image: url("d4btn.gif");
    font-size: 30px;
}
.td2{
    background-image: url("d3btn.gif");
}
.td3{
    background-image: url("d2btn.gif");
}
.td4{
    background-image: url("d0btn.gif");
}
.td5{
    background-image: url("d1btn.gif");
}

