body {
    overflow: hidden;
    /*设置溢出方式为隐藏*/
}

#div1  {
    float: right;
    /*使模块右对齐*/
    margin-right: 120px;
    position: relative;

}

#div1 li {
    display: inline-block;
    /*显示框显示类型为行内块级元素*/
    margin-right: 10px;
    /*右外边距*/
    vertical-align: top;
}

#div1 a {
    color: #333;
    /*字体颜色*/
    font-size: 13px;
    /*字体大小*/
    font-weight: bold;
    /*设置字体粗细*/
}
#xiala{
    width: 60px;
    height: 19px;
    overflow: hidden;
position: absolute;

}
#xiala:hover{
    overflow: visible;
    /*height: 100px;*/
}
#xiala ul{
    padding: 0;
    text-align: center;
}
#xiala li{
    padding: 2px;
    margin: 0;
    margin-top: -2px;
}
#xiala li:nth-child(2) :hover{
    background-color:#3385ff ;
}
#xiala li:nth-child(3) :hover{
    background-color:#3385ff ;
}
#xiala li:nth-child(4) :hover{
    background-color:#3385ff ;
}
#xiala li:nth-child(2) a {
   text-decoration: none;
}
#xiala li:nth-child(3) a {
    text-decoration: none;
}
#xiala li:nth-child(4) a {
    text-decoration: none;
}
#xiala li:nth-child(5) a {
    text-decoration: none;
}
#xiala li:nth-child(2) a:hover {
    color:white;
}
#xiala li:nth-child(3) a:hover {
    color:white;
}
#xiala li:nth-child(4) a:hover {
    color:white;
}
#div1 a:hover {
    color: blue;
    /*鼠标划过时颜色*/
}
#xiala2{
    position: absolute;
    width: 60px;
    height: 20px;
    right: -110px;
    overflow: hidden;

}
#xiala2 a{
    display: block;
    height: 20px;
    width: 60px;
    text-decoration: none;
    padding: 2px;
}
#xiala2:hover{
    overflow: visible;

}
#xiala2  a{
    color: white;
    background-color: #3385ff;
}
#xiala2 a:hover{
    background-color: white;
    color: black;
}
#div2 {
    clear: right;
    /*清除右浮动*/
    position: relative;
    /*定位方式为相对定位*/
    left: 50%;
    /*相对定位左距离*/
}

#div2 >img {
    position: relative;
    right: 135px;
    width: 270px;
    height: 129px;
}

#div3 {
    position: relative;
    left: 50%;
}
#div3 span{
    width: 18px;
    height: 16px;
    position: relative;
    right: 140px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    top: 4px;
}
#div3 img:hover{
    position: relative;
    top:-20px;
}
#div3 div {
    position: relative;
    right: 300px;
    margin-top: 30px;
}

#div3 input {
    height: 36px;
    width: 500px;
}

#div3 #submit {
    height: 42px;
    width: 100px;
    background-color: #3385ff;
    /*设置背景颜色*/
    color: white;
    border-color: #3385ff;
    /*设置边框颜色*/
    outline: #3385ff medium;
    /*设置边框特效*/
    cursor: pointer;
    /*设置指针特效*/
    letter-spacing: 1px;
}

#div4 {
    display: inline;
    text-align: center;
    position: relative;
    bottom: -200px;
}
