*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h1{
    text-align: center;
}
h1 span{
    font-size: 10px;
   position: absolute;
    top:40px;
    left:520px;
}
.container{
    width: 600px;
    padding: 20px;
    height: 900px;
}
.question{
    color: red;

    margin-bottom: 10px;

}
.answer{
    font-size: 14px;
    color: green;
    margin-bottom: 10px;
    display: none;

}
h2{
    margin-bottom: 20px;

}
.text{
    display: none;
}
