/*设置通用样式*/

* {
    padding: 0;
    margin: 0;
}

body {
    font: 12px arial;
}


/*顶部导航栏格式*/

.div1 {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.div1 li {
    display: inline-block;
   + float:left;

    vertical-align: top;
    margin-left: 15px;
}


/*A标签样式*/

.div1 a {
    color: #333;
    font-weight: bold;
    line-height: 24px;
    font-size: 13px;
    text-decoration: underline;
}


/*滑过时效果*/

.div1 a:hover {
    color: #00c;
}

#xiala {
    width: 68px;
    display: none;
    margin-left: -8px;
}


/*下拉效果*/

#xiala a {
    text-decoration: none;
    font-weight: normal;
}

#xiala li:hover {
    background-color: #00c;
}

#xiala li:hover a {
    color: white;
}

.div1 li:nth-child(8){
    text-align: center;
    margin-left: -6px;
    width: 70px;
}

.div1 li:nth-child(9) {
    margin-left: 0;
}

.div1 li:nth-child(8):hover #xiala {
    display: block;
}

#xiala1 {
    display: none;
}


/*第二个下拉样式*/

.div1 li:nth-child(9) {
    background-color: #3385ff;
    width: 75px;
    text-align: center;
}

.div1 li:nth-child(9) a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.div1 li:nth-child(9):hover #xiala1 {
    display: block;
    text-align: center;
}

.div2 {
    padding-left: 50%;
}


/*图片居中样式*/

.div2 img {
    width: 270px;
    height: 127px;
    margin-left: -135px;
    margin-top: 50px;
}

.div3 span:first-child {
    border: 1px solid #b6b6b6;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    height: 34px;
    position: relative;
    overflow: hidden;
}

#form {
    margin: 22px auto 0;
    width: 641px;
    text-align: left;
    z-index: 100;
    position: relative;
    display: block;
    font: 12px arial;
}

/*搜索框样式*/

.div3 span:last-child {
    width: 97px;
    height: 34px;
    display: inline-block;
    background: #3385ff;
}

.div3 span:first-child input {
    position: relative;
    width: 500px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px\9;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    top: 2px;
}

.div3 span:first-child:hover {
    border-color: #999 transparent #b3b3b3 #999;
}

.div3 span:last-child input {
    width: 100px;
    height: 36px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    outline: medium;
    cursor: pointer;
}


/*照相机图标*/

#img {
    z-index: 1;
    position: absolute;
    right: 109px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: #fff url(camera_new_679c15cc.png) no-repeat;
    cursor: pointer;
}

#img:hover {
    background-position: 0 -20px;
}


/*底部样式*/

.footer {
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 100px;
    bottom: -280px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    + margin-left:400px;
}

.footer div:first-child {
    display: inline-block;
}

.footer div:last-child {
    display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 22px;
    position: relative;
    top: -2px;
}

.fdiv1 {
    float: right;
    color: #999;
    line-height: 23px;
    margin: 8px 0 0 10px;
}

.fdivi p {
    line-height: 23px;
}

.fdiv1 b {
    color: #666;
    font-weight: bold;
}

.fdiv2 p,
.fdiv2 a {
    color: #999;
}

.aid:nth-child(2) {
    margin-left: 48px;
}

.aid:nth-child(3) {
    margin-left: 48px;
}
/*ie8兼容*/
.ie8:hover #xiala{
    display: block;
}
.ie8{
    text-align: center;
    margin-left: -6px;
    width: 70px;
}
.ie9{
    margin-left: 0;
    background-color: #3385ff;
    width: 75px;
    text-align: center;
}
.ie9 a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.ie9:hover #xiala1 {
    display: block;
    text-align: center;
}
#ie8{
    width: 100px;
    height: 36px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    outline: medium;
    cursor: pointer;
}
.ie1{
    width: 97px;
    height: 34px;
    display: inline-block;
    background: #3385ff;
}
.fdiv2{
    display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 22px;
    position: relative;
    top: -2px;
}
#fdiv3{
    display: inline-block;
    + float:left;
}
#fdiv4{
    display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 22px;
    position: relative;
    top: -2px;
}
/*ie7兼容*/
ul{
    + list-style-type:none;
}
#fdiv3 div{
+ float:left;
}


